body {
    background: tan;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
p#p4 {
    text-align: center;
}
p#p5 {
    text-align: center;
}
p#p6 {
    text-align: center;
}